.container-fluid {
  background-color: #212121;
  height: 100vh;
}

#remoteVideoContainer {
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #007bff;
}

#messages {
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

.list-group-item {
  background-color: #FFFFFF;
  border: none;
  color: #000;
}

.input-group-lg .form-control {
  background-color: #FFFFFF;
  border: 1px solid #444;
  color: #000;
}

.input-group-lg .btn-primary {
  background-color: #0E207F;
  border: none;
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-circle:hover {
  background-color: #0056b3;
}

.enabled-style {
  background-color: #007bff;
  color: white;
}

.disabled-style {
  background-color: #6c757d;
  color: white;
}

.video-controls {
  margin-top: 15px;
}

h3, h4 {
  color: black;
}
